* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    overflow: -moz-scrollbars-vertical;
	}

strong, em, b, i {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	}

/*- Page Structure */

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	color: #444;
	background: #eee; /* #CCC */
	text-align: center;
	}


#page {
	background: white;
	text-align: left;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	border: 1px solid #ddd;
	border-top: none;
	clear: both;
	}

.logo {
	border: 0px;
}

.columns-one #page {
	width: 580px;
	}

.columns-two #page {
	width: 780px;
	}

.columns-three #page {
	width: 950px;
	}
	
/*- Links */
#primary a:hover, #primary a:visited:hover,
.secondary a:hover, .secondary a:visited:hover {
	text-decoration: underline;
	}

h2 a:hover, h2 span a:hover {
	color: #000 !important;
	}

a {
	color: #CC0000;
	text-decoration: none;
	}

#header {
	position: relative;
	height: 200px;	background-color: #000000;	background-image: url(m1.jpg);	background-repeat: no-repeat;
	background-position: top right;
	}

.content {
	padding: 0 20px 10px;
	}

body.columns-two #primary-wrapper {
	float: right;
	margin-right: -200px;
	width: 100%;
	}

body.columns-two #primary {
	margin-right: 220px;
	}

body.columns-two .secondary {
	float: left;
	}

#primary {
	position: relative;
	float: left;
	width: 520px;
	padding: 10px;
	}

* html #primary {
	display: inline;
	}

.columns-one .secondary {
	width: 240px;
	border-top: 1px solid #eee;
	}

.columns-three .secondary {
	width: 175px;
	}

.secondary {
	width: 180px;
	float: left;
	font-size: 1.3em;
	line-height: 1.5em;
	color: #666;
	position: relative;
	padding: 0 10px;
	overflow: hidden;
	}

#sidebar-2 {
	clear: right;
	}


/*- Main Menu in Header */

ul.menu {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 90%;
	}

ul.menu li {
	display: inline;
	margin: 0;
	}

ul.menu,
ul.menu li a {
	padding: 5px 15px 6px;
	}

ul.menu li a {
	font-size: 1.25em;
	color: white;
	margin: 0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	}

ul.menu li a:hover {
	background: #333;
	color: #900;
	text-decoration: none;
	}

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover,
ul.menu li.current_page_ancestor a,
ul.menu li.current_page_ancestor a:hover {
	color: #900;
	background: white;
	text-decoration: none;
	}

/*- Headings */

h1 {
	font-size: 3.7em;
	}

h1.blog-title {
	font-weight: bold;
	letter-spacing: -1px;
	padding: 75px 40px 0;
	}

h1.blog-title a,
#header .description {
	text-decoration: none;
	color: CC0000;
	}

h1.blog-title a:hover {
	text-decoration: underline;
	}

#header .description { /* Description in header */
	font-size: 1.25em;
	margin: 0 40px;
	}

#header .english {
	margin: 42px 0 0 729px; /*	margin: 46px 733px; */
	font-size: 1.2em;
	line-height: 1.8em;
	text-align: justify;
	}

h2 { /* H2 is what kind of page you are on. Eg. 'Monthly Archive'. */
	margin: 20px 0;
	/*text-align: center;*/
	font-size: 3em;
	letter-spacing: -1px;
	}

.secondary h4 { /* Secondary H4 is sidebar headlines */
	font-size: 1.88em;
	font-weight: normal;
	padding: 0;
	display: block;
	margin-bottom: 5px;
	}

h3, h4, .single .k2-asides h3 { /* H3 is entry headlines. H4 is comments and replyform headlines */
	font-size: 3em;
	font-weight: normal;
	letter-spacing: -1px;
	}

.entry-head {
	margin-top: 10px;
	}


.secondary div {
	margin: 28px 0 0; /* 70px 0 0; */
	padding: 0;
	position: relative;
	}

h2, h2 a, h2 a:visited,
h3, h3 a, h3 a:visited,
h4, h4 a, h4 a:visited {
	color: #444;
	}

h2, h2 a, h2 a:hover, h2 a:visited,
h3, h3 a, h3 a:hover, h3 a:visited,
h4, h4 a, h4 a:hover, h4 a:visited {
	text-decoration: none;
	}

div#current-content.hfeed p {
	font-size: 1.3em;
	line-height: 1.8em;
	text-align: justify;
	color: #444;
}

div#current-content.hfeed a:visited {
	color: #CC0000;
	}

.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content div,
.entry-content blockquote {
	margin: 13px 0;
	}

.k2-asides .entry-content p,
.k2-asides .entry-content ul,
.k2-asides .entry-content ol,
.k2-asides .entry-content div,
.k2-asides .entry-content blockquote {
	margin: 5px 0;
	}

#footer {
	clear: both;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
	color: #777;
	font-size: 1.1em;
	}

#footer p {
	line-height: 1.6em;
	}

#footer a {
	color: #888;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	}

#footer a:hover {
	border: none;
	text-decoration: none;
	color: #000;
	}

/*- Various Tags and Classes */

.clear {
	clear: both;
	}

.secondary ul li {
	margin: 0;
	padding: 2px 0;
	list-style-type: none;
	list-style-image: none;
	}
	
textarea {
	width: 505px;
	border: 3px solid #cccccc;
	padding: 5px;
	color: #444;
	font-size: 1.4em;
	font-family: Tahoma, sans-serif;
}

#picture {	float:left; 	padding:0 10px 10px 0;}